.markup-widget {
  padding: 12px 15px;
}

.markup-widget--title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 12px;
  margin: 0 auto 0 0;
}

.markup-widget--pane {
  display: none;
  &.active {
    display: block;
  }
}

.markup-widget--heading {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
}

.markup-widget--button-group {
  margin-bottom: 12px;

  .esri-button {
    display: inline-block;
    display: inline-flex;
    width: auto;
    margin-right: 6px;
    vertical-align: top;
  }
}

.markup-widget--label {
  display: block;
  padding: 6px 0 2px;
}

.markup-widget form {
  margin-bottom: 16px;
  .esri-button {
    width: auto;
    margin-top: 12px;
  }
  .esri-input {
    width: 100%;
  }
}

// popups
.markup-symbol-styler {}

.markup-symbol-styler--tab-panel {
  position: relative;
  bottom: -1px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}

.markup-symbol-styler--tab {
  display: inline-block;
  text-align: center;
  margin: 0 !important;
  padding: 5px 5px;
  width: 100%;
  cursor: pointer;
  color: #6e6e6e;
  border: 1px solid transparent;
}

.markup-symbol-styler--tab-content {
  padding: 12px 0 0;
  border-top: 1px solid rgba(50,50,50,0.25);
}

.markup-symbol-styler--tab:hover,
.markup-symbol-styler--tab:focus {
  color: #323232;
  background-color: #ededed;
  border-bottom: 1px solid rgba(50,50,50,0.25);
}

.markup-symbol-styler--tab[aria-selected="true"],
.markup-symbol-styler--tab[aria-selected="true"]:hover {
  background-color: #fff;
  color: #323232;
  border-color: rgba(50,50,50,0.25);
  border-bottom-color: #fff;
}

.markup-symbol-styler--left-pane {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-right: 5px;
}

.markup-symbol-styler--right-pane {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 5px;
}

.markup-symbol-styler--label {
  display: block;
  margin-bottom: 4px;
}

.markup-symbol-styler .esri-input {
  width: 100%;
  margin-bottom: 6px;
}

.markup-symbol-styler .esri-select {
  margin-bottom: 6px;
}

.markup-symbol-styler .esri-color-picker {
  .esri-container .esri-palette {
    margin: 0 0 6px 0;
  }
  .esri-section {
    width: 80%;
    margin: 0;
  }
  .esri-label {
    font-size: 14px;
  }
}
