.sketch-widget {
  padding: 12px 15px;
}

.sketch-widget__title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 12px;
  margin: 0 auto 0 0;
}

.sketch-widget__tab-panel {
  position: relative;
  bottom: -1px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.sketch-widget__tab {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 5px 5px;
  width: 100%;
  cursor: pointer;
  color: #6e6e6e;
  border: 1px solid transparent;
}

.sketch-widget__tab-content {
  padding: 12px 0 0;
  border-top: 1px solid rgba(50,50,50,0.25);
}

.sketch-widget__tab:hover,
.sketch-widget__tab:focus {
  color: #323232;
  background-color: #ededed;
  border-bottom: 1px solid rgba(50,50,50,0.25);
}

.sketch-widget__tab[aria-selected="true"],
.sketch-widget__tab[aria-selected="true"]:hover {
  background-color: #fff;
  color: #323232;
  border-color: rgba(50,50,50,0.25);
  border-bottom-color: #fff;
}

.sketch-widget .esri-button {
  display: inline-block;
  display: inline-flex;
  width: auto;
  margin-right: 6px;
}

.sketch-widget__label {
  display: block;
  padding: 4px 0 2px;
}
